/*
 Theme Name:   Savoy Child Theme
 Description:  Child theme of Savoy
 Author:       Milan Stojevski, Enes Hanić
 Template:     savoy
 Version:      1.0.0
 License:      GNU General Public License v2 or later
*/

/*.col-sm-4 {*/
/*    padding-top: 0px !important;*/
/*    padding-left: 0px !important;*/
/*    padding-right: 0px !important;*/

/*}*/

/*.vertikalna {*/
/*    height: 801px;*/
/*}*/

/*.ts-imagehover-style1 img {*/

/*    max-height: 801px;*/

/*}*/

/*.vertikala .ts-imagehover-style1 h2 {*/
/*    margin-top: 50%;*/
/*}*/

/*#srednji {*/
/*padding-bottom: 10px !important;*/
/*}*/

/*.desni .ts-imagehover-style1 h2 {*/
/*    margin-top: 40%;*/
/*}*/

/*.ts-imagehover img {*/
/*    border-radius: 15px;*/
/*}*/

/*.ts-imagehover .content, .ts-imagehover .mask {*/

/*    border-radius: 15px;*/
/*}*/

/*@media screen and (max-width: 767px) {*/

/*    .ts-imagehover img {*/
/*    border-radius: 0px;*/
/*}*/

/*.ts-imagehover .content, .ts-imagehover .mask {*/

/*    border-radius: 0px;*/
/*}*/

/*.page-id-11 .nm-row {*/
/* border-left: none !important;   */
/* border-right: none !important;  */
/*}*/

/*.ts-imagehover {*/
/*border-left: none !important;*/
/*border-right: none !important;*/

/*}*/

/*.nm-footer-bar .menu {*/
/*    text-align: center;*/
/*}*/

/*.ts-image-hover-frame {*/
/* margin: 0 !important;   */
/*}*/

/*}*/

/*.ts-imagehover h2 {*/
/* display: none;   */
/*}*/

/*.ts-imagehover a.info {*/
/* margin-top:40%;   */
/*}*/

/*.ts-imagehover a.info {*/
/*        border-radius: 60px;*/
/*    border: white 1px solid;*/
/*    box-shadow: none !important;*/
/*        font-weight: bold;*/
/*        background: transparent !important;*/
/*}*/

/* Ovde dole kad se skloni tada royal slider ide na poziciju ispod hedera  */
/*.nm-header {*/
/*position: absolute; /*!important;
/*}*/

/* Podesavanja za sliku iza headera/menija */
/*.nm-row, .col-sm-12  {*/

/* padding: 0px !important;*/

/*}*/

/*.nm-row.nm-row-full {*/

/*    padding: 0px !important;*/
/*}*/


/*
* #Header
*/

#nm-header {
  border:1px solid #eee;
  /* box-shadow:0 0  5px rgba(0,0,0,0.3);   */
}

/*
  #hero
*/

.nm-header-logo img {
  height: 100px;
}
.nm-header {
  background-color: white;
}
.ks-section-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ks-title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-full {
  position: relative;
  background: url('http://localhost/kolysocks/wp-content/uploads/2017/10/naslovna3-1.jpg')
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:85vh;
}
.hero-title {
  text-align: center;
  position: absolute;
  top: 50%;
  color: #fff;
}

.ks-title {
  color: #fff;
  font-size: 35px;
}
.ks-btn-action {
  background-color: #ffa500;
  color: white;
  border-radius: 100px;
}
.u-m10 {
  margin-top:10px;
}
.ks-btn-action:hover {
  background-color:#ffb122;
  transition:0.5s;
}

/*
#Products
*/
.ks-products {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background: url('http://localhost/kolysocks/wp-content/uploads/2017/11/memphis-colorful.png');
  background-repeat: repeat;
}
.ks-products .nm-row {
  margin-bottom: 32px;
}
.ks-products a h3 {
  color:white;
  font-size:18px;
}
.ks-products img {
  position: relative;
  border-radius: 30px;
  -webkit-filter: brightness(.8);
  filter: brightness(.8);
}
.ks-products .ks-btn-action {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  cursor:pointer;
}
/* .ks-mask {
  position:absolute;
  background-color:rgba(146,96,91,.5);
  height:450px;
  width:450px;
  top:0;
  left:0;
  bottom:0;
  right:0;
  border-radius:30px;
  margin-left:13%;
} */

/* .ks-products .ks-products-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor:pointer;
} */
/* .ks-products-btn {
  background: transparent;
  border-radius: 60px;
  border: 1px solid #fff;
  color: #fff;
  padding: 7px 14px;
  font-weight: bold;
  text-transform: uppercase;
} */
.ks-products-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ks-desc {
  margin-top: 30px;
  line-height: 145%;
}
.ks-wrap .ks-desc {
  margin-bottom: 40px;
}

/*
* Shop
*/

/* #nm-shop-products .nm-shop-loop-details h3 a {
  color:#ffa500;
} */

/*
#Responsive
*/

@media (max-width: 880px) {
  .nm-menu-icon span {
    background-color: #ffa500;
  }
  .ks-products-col {
    margin-bottom: 20px;
  }
  .hero-full {
    height:60vh;
  }
  #nm-header > div > div > div > div > a > img {
    height:65px;
  }
  .ks-title {
    font-size:30px;
  }
  .nm-header {
    line-height:80px !important;
  }
  .nm-header-placeholder {
    height:84px !important;
  }
  .ks-products {
    padding-top:50px;
    padding-bottom:50px;
  }
  .ks-products .nm-row {
    margin-bottom:0;
  }

}
@media (min-width: 1168px) {
  .nm-header {
    line-height:40px !important;
  }
}
/*
#footer
*/
.nm-footer-bar {
  color: #7f7f7f;
}
.nm-footer-bar .nm-footer-bar-inner {
  background-color: transparent;
}

.nm-footer-bar .nm-footer-bar-inner {
  background-image: url(http://localhost/kolysocks/wp-content/uploads/2017/11/footer-banner.png) !important;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 2817px;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}